<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
	<persistence-unit name="telQuiz-persistence" transaction-type ="RESOURCE_LOCAL">
	<class>com.telapp.telquiz.entity.ChannelContextReg</class>
	<class>com.telapp.telquiz.entity.ChannelReg</class>
	<class>com.telapp.telquiz.entity.ContextQuestion</class>
	<class>com.telapp.telquiz.entity.UserContextQuestiion</class>
	<class>com.telapp.telquiz.entity.UserContextTable</class>
	<class>com.telapp.telquiz.entity.UserRegTable</class>
	</persistence-unit>
</persistence>
